/* NAVIGATION BAR */
body {
    position: relative;
    width: 1400px;
    height: 3843px;
    background: #FFFFFF;
}
.navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    width: 1398px;
    height: 76px;
    margin-left: 0px;
    margin-top: 20px;
    padding: 15px 144px;
}

.logo {
    min-width: 30px;
    min-height: 30px;
    margin-left: 144px;
    margin-top: 15px;
}

.logo__text {
    position: absolute;
    margin-left: 186px;
    margin-top: 18px;     
}

nav.links {
    margin-left: 250px;
    margin-top: 15px ;
    min-width: 350px;
    position: static;
    height: 28px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.link {
    margin-left: 30px;
    color: #2F281E;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.sign-in {
    position: static;
    margin-left: 121px;
    margin-top: 35px;
    width: 110px;
    height: 46px;
    border-color: #BCD0E5;
    border-radius: 5px;
    background-color: white;
    border-style: solid;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #173A56;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 121px;
}

button.sign-in:hover {
    color: #FF9900;
}

.sign-up {
    position: static;
    margin-left: 121px;
    margin-top: 35px;
    width: 110px;
    height: 46px;
    background-color: #FF9900;
    border-color: #FF9900;
    border-radius: 5px;
    border-style: solid;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: white;
    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 121px;
}

button.sign-up:hover {
    color: rgb(34, 0, 56);
}


/* HEADER START */

.header {
    position: absolute;
    width: 1126px;
    height: 496px;
    margin-left: 149px;
    margin-right: 129px;
    margin-top: 128px;
    margin-bottom: 110px;
}

div.header-left {
    position: absolute;
    display: inline-block;
    width: 518px;
    height: 331px;
    margin-left: 145px;
    margin-top: 115px;
}

.title {
    position: absolute;
    width: 518px;
    height: 108px;
    left: 145px;
    top: 211px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    /* or 123% */
    color: #2F281E;
}

.info__title {
    position: absolute;
    width: 458px;
    height: 95px;
    left: 145px;
    top: 349px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: #544837;

}

button.get-started {
    width: 175px;
    height: 53px;
    margin-left: 145px;
    margin-top: 489px;
    background-color: #FF9900;
    border-color: #FF9900;
    border-style: none;
    border-radius: 5px;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #FFFFFF;
}

button.videolink {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 180px;
    height: 23px;
    margin-left: 350px;
    margin-top: 504px;
    position: absolute;
    background-color: white;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    text-decoration-line: underline;
    color: #FF9900;
}
.triangle {
    position: absolute;
    left: 0px;
    margin-right: 9px;
    padding-right: 9px;
    width: 17px;
    height: 20px;
}

section.image-jumping {
    display: inline-block;
}

img.jumping_people {
    position: absolute;
    width: 605px;
    height: 496px;
    margin-left: 666px;
    margin-top: 128px;

}

/* Main - WE DESIGN TOOLS */

div.test-segment {
    position: absolute;
    width: 2211px;
    height: 543px;
    margin-left: -406px;
    margin-top: 734px;
    padding-top: 110px;

}
h2.design-tools {
    position: absolute;
    width: 539px;
    height: 108px;
    left: 990px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #2F281E;
}

div.cards {
    position: absolute;
    width: 1095px;
    height: 204px;
    left: 161px;
    top: 162px;
}

div.card__1 {
    position: absolute;
    width: 240px;
    height: 178px;
    left: 567px;
    top: 162px;
}

div.card__2 {
    position: absolute;
    width: 240px;
    height: 178px;
    left: 853px;
    top: 162px;
}

div.card__3 {
    position: absolute;
    width: 240px;
    height: 178px;
    left: 1138px;
    top: 162px;
}

div.card__4 {
    position: absolute;
    width: 240px;
    height: 204px;
    margin-left: 1422px;
    margin-top: 162px;
}

h6 /*Test headers*/ { 
    position: absolute;
    height: 33px;
    left: 0px;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height */
    color: #2F281E;
}

img.icons {
    position: absolute;
    width: 51px;
    height: 50px;
}

.tests-info {
    position: absolute;
    left: 0%;
    right: 0%;
    margin-top: 16px;
    bottom: 0%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #544837;
}

button.sign-up-now {
    position: absolute;
    margin-left: 1180px;
    margin-top: 450px;
    width: 175px;
    height: 53px;
    background-color: #FF9900;
    border: #FF9900;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #FFFFFF;
}
/* Main - DESIGN PROFESSIONALS */

.design-segment {
    position: absolute;
    display: inline-block;
    width: 1110px;
    height: 574px;
    left: 145px;
    margin-top: 1423px;
    padding-top: 100px;
}

.top-design-text /* Effortless validation */ {
    position: absolute;
    height: 24px;
    left: 150px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #544837;
}

h3 /* DESIGN PROFESSIONALS */ {
    position: absolute;
    height: 54px;
    left: 150px;
    padding-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    color: #2F281E;
}

.design-main-info__1 {
    position: absolute;
    margin-left: 150px;
    margin-top: 103px;
    padding-top: 10px;
    width: 486px;
    height: 78px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #544837;
}

.design-header__1 {
    position: absolute;
    height: 26px;
    margin-left: 150px;
    margin-top: 211px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    color: #2F281E;
    

}

.design-main-info__2 {
    position: absolute;
    margin-top: 249px;
    margin-left: 150px;
    width: 486px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #544837;
}

.design-header__2 {
    position: absolute;
    height: 26px;
    margin-left: 150px;
    margin-top: 326px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    color: #2F281E;
}

.design-main-info__3 {
    position: absolute;
    margin-top: 364px;
    margin-left: 150px;
    width: 486px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #544837;
}

.design-header__3 {

    position: absolute;
    height: 26px;
    margin-left: 150px;
    margin-top: 441px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    color: #2F281E;
}

.design-main-info__4 {
    position: absolute;
    margin-top: 479px;
    margin-left: 150px;
    width: 486px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #544837; 
}

section.image-communicating {
    display: inline-block;
}

img.man-phone {
    position: absolute;
    width: 520px;
    height: 574px;
    left: 735px;
    margin-top: 0px;
}

/* PRODUCT MANAGERS */ 

.product-segment {
    position: absolute;
    display: inline-block;
    width: 1121px;
    height: 521px;
    margin-left: 150px;
    margin-top: 101px;
    padding-top: 101px;
    padding-left: 145px;
}

section.image-computer {
    display: inline-block;
}

img.man-computer {
    position: absolute;
    width: 535px;
    height: 521px;
    top: 2072px;
}

div.info__product {
    display: inline-block;
    position: absolute;
    width: 486px;
    height: 427px;
    left: 779px;
    top: 2121px;
}

.top-text-product /* Easier decision making */ {
    position: absolute;
    height: 24px;
    left: 0%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #544837;
}

h4 /* Product Managers */ {
    position: absolute;
    height: 54px;
    left: 0%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    color: #2F281E;
}

.main-info-product {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 24.12%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #544837;
}

div.info-product__1 {
    position: absolute;
    display: inline-block;
    width: 430px;
    left: 772px;
    margin-top: 2250px;

}

img.tick__1 {
    position: absolute;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-left: 0px;
}

.info-tick-1 {
    position: absolute;
    margin-left: 65px;
    margin-top: -9px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #544837;
}

div.info-product__2 {
    position: absolute;
    width: 450px;
    height: 52px;
    margin-left: 627px;
    margin-top: 2330px;
}

img.tick__2 {
    position: absolute;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-left: 0px;
    margin-top: -17px;
}

.info-tick-2 {
    position: absolute;
    margin-left: 65px;
    margin-top: 293px;
    bottom: 19.2%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #544837;
}

div.info-product__3 {
    position: absolute;
    display: inline-block;
    width: 450px;
    height: 52px;
    left: 779px;
    margin-top: 2415px;
}

img.tick__3 {
    position: absolute;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-left: -6px;
}

.info-tick-3 {
    position: absolute;
    width: 385px;
    margin-left: 59px;
    margin-top: -9px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #544837;
}