/* Navigation bar*/

.navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    min-width: 1398px;
    min-height: 76px;
    margin-left: 0px;
    margin-top: 20px;
    padding: 15px 144px;
}

.logo {
    min-width: 30px;
    min-height: 30px;
    margin-left: 144px;
    margin-top: 15px;
}

.logo__text {
    position: absolute;
    margin-left: 186px;
    margin-top: 18px;     
}

nav.links {
    margin-left: 250px;
    margin-top: 15px ;
    min-width: 350px;
    position: static;
    height: 28px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.link {
    margin-left: 30px;
    color: #2F281E;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.sign-in {
    position: static;
    margin-left: 121px;
    margin-top: 35px;
    width: 110px;
    height: 46px;
    border-color: #BCD0E5;
    border-radius: 5px;
    background-color: white;
    border-style: solid;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #173A56;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 121px;
}

button.sign-in:hover {
    color: #FF9900;
}

.sign-up {
    position: static;
    display: inline-block;
    margin-left: 1144px;
    top: 35px;
    width: 110px;
    height: 46px;
    background-color: #FF9900;
    border-color: #FF9900;
    border-radius: 5px;
    border-style: solid;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: white;
    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 121px;
}

button.sign-up:hover {
    color: rgb(34, 0, 56);
}


/* Header start */


